[submodule "include/cx-engine/extern/incbin"]
	path = include/cx-engine/extern/incbin
	url = https://github.com/graphitemaster/incbin
[submodule "include/cx-engine/extern/xxhash"]
	path = include/cx-engine/extern/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "include/cx-engine/extern/toml++"]
	path = include/cx-engine/extern/toml++
	url = https://github.com/marzer/tomlplusplus.git
[submodule "include/cx-engine/extern/rapidjson"]
	path = include/cx-engine/extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
