[submodule "extern/incbin"]
	path = extern/incbin
	url = https://github.com/graphitemaster/incbin
[submodule "extern/xxhash"]
	path = extern/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "extern/toml++"]
	path = extern/toml++
	url = https://github.com/marzer/tomlplusplus.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
